.file-drag-area {
    width: 400px;
    height: 400px;
}

.drag-on {
    background: #336ff0;
}

.drag-off {
    background: #cacaca;
}

.error-messages {
    color: #8d1515;
}

.audio-volume-slider {
    width: 100px;
}